<main>
  <app-demo-component title="template angular"></app-demo-component>

  <section>
    <mat-list>
      <h2>Linter configured:</h2>
      <mat-list-item>- ESLint</mat-list-item>
      <mat-list-item>- Prettier</mat-list-item>
    </mat-list>
  </section>
  <section>
    <mat-list>
      <h2>Material UI:</h2>
      <mat-list-item
        >- The default theme is <strong>indigo-pink.css</strong></mat-list-item
      >
      <mat-list-item
        >-
        <a
          href="https://material.angular.io/guide/getting-started#display-a-component"
          >Display a component</a
        ></mat-list-item
      >
      <mat-list-item
        >-
        <a href="https://material.angular.io/components/categories"
          >Components list</a
        ></mat-list-item
      >
    </mat-list>
  </section>
</main>
